.btn {
  font-size: 1em;
  padding: 0.5em;
  font-weight: bold;
  border-radius: 20px;
  border: 2px solid #bae4b7;
  color: #bae4b7;
  cursor: pointer;
  width: 300px;
  background-color: #fff; }

.btn:active {
  position: relative;
  top: 1px; }

.input--text::placeholder {
  color: #ccc; }

.input--text {
  font-size: 1em;
  width: 100%;
  padding: 0.4em;
  color: grey;
  margin-bottom: 1em;
  border-radius: 20px;
  border: 1px solid grey;
  text-align: center;
  background-color: #fff; }

* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box; }

a {
  color: #bae4b7; }

.authenticate {
  display: grid;
  grid-template-rows: 200px 80px 120px 110px 50px 50px;
  grid-template-columns: 300px;
  background-color: white;
  width: 350px;
  font-size: 1em;
  padding: 1em;
  margin: 0 auto;
  text-align: center; }

.authenticate--logo {
  width: 80%;
  margin: 0 auto; }

.hidden {
  display: none; }

.alert {
  background-color: #B4C4E7;
  padding: 0.5em;
  margin-bottom: 1em;
  color: #32549d; }
