.input--text::placeholder {
  color: #ccc; }

.input--text {
  font-size: 1em;
  width: 100%;
  padding: 0.4em;
  color: grey;
  margin-bottom: 1em;
  border-radius: 20px;
  border: 1px solid grey;
  text-align: center;
  background-color: #fff; }

* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box; }

header {
  display: grid;
  grid-template-columns: 50px 100px 180px;
  grid-template-rows: 1fr;
  width: 350px;
  height: 150px;
  justify-items: end;
  align-items: center;
  grid-column-gap: 10px;
  margin: 0 auto; }

.chat {
  display: grid;
  grid-template-columns: 350px;
  grid-template-rows: 1fr;
  width: 350px;
  margin: 0 auto; }

.message {
  display: grid;
  grid-template-rows: 10px 10px;
  grid-template-columns: 10px 10px;
  margin: 10px 0px;
  color: #bae4b7;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8em; }

.message__state {
  margin-right: 0.5em; }

.message__text {
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 5px;
  padding-left: 20px;
  width: 200px;
  color: grey;
  position: relative; }

.message__user {
  font-weight: bold; }
