.input--text::placeholder {
  color: #ccc; }

.input--text {
  font-size: 1em;
  width: 100%;
  padding: 0.4em;
  color: grey;
  margin-bottom: 1em;
  border-radius: 20px;
  border: 1px solid grey;
  text-align: center;
  background-color: #fff; }
